//fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
//breackpoints
$breakpoint-desktop: 1399px;
$breakpoint-tablet: 860px;
$breakpoint-mobile: 460px;

//colors
$green: #47e503;
$dark-green: #1a5700;
$red: #ff4949;
$dark-red: #681e1e;
$blue: #50bfff;
$dark-blue: darkblue;
$light-gray: #eeeded;
//sizes
$title-font: 18px;
$title-font-sm: 12px;

//global
$shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
